@import 'src/scss/mixins.scss';
@import 'src/scss/variables.scss';

.mat-tab-label {
  text-transform: uppercase;

  opacity: 1;
}

.mat-tab-label__icon {
  margin-right: 5px;
}

.mat-tab-group {
  background-color: $color-bg-light-main;
}
