@import 'src/scss/mixins.scss';
@import 'src/scss/variables.scss';

.header {
  background-color: $color-main;
}

.header__title {
   margin: 0; 
   padding: 10px;
  
  color: $color-text-light-main;
  text-align: center;
  text-transform: capitalize;
}

.book__list {
  @include flex;
  flex-wrap: wrap;
}

.mat-tab-label {
  text-transform: uppercase;

  opacity: 1;
}

.mat-tab-label__icon {
  margin-right: 5px;
}

.mat-tab-group {
  background-color: $color-bg-light-main;
}
