$font-main: Roboto, "Helvetica Neue", sans-serif;

$color-main: #3f51b5;
$color-light-main: #ffffff;
$color-light-secondary: #ff4081;
$color-dark-main: #4b0082;
$color-dark-secondary: #424242;

$color-bg-light-main: #fafafa;

$color-text-light-main: #ffffff;  
$color-text-light-secondary: #0000008a;  
$color-text-dark-main: #3f51b5;
$color-text-dark-secondary: #000000de;

$color-attention-main: #ff4081;