$font-main: Roboto, "Helvetica Neue", sans-serif;

$color-main: #0edce7;
$color-light-main: #ffffff;
$color-light-secondary: #ff4081;
$color-dark-main: #4b0082;
$color-dark-secondary: #4e4040;

$color-bg-light-main: #fafafa;

$color-text-light-main: #ffffff;  
$color-text-light-secondary: #0000008a;  
$color-text-dark-main: #3f51b5;
$color-text-dark-secondary: #000000de;

$color-attention-main: #ff4081;

$color-hover: #cfe4fc;
$color-shadow: #789fca;

$card-hovered-shadow:  2px 2px 10px 0px $color-shadow; 
$button-shadow:  2px 2px 10px 0px $color-shadow; 